[submodule "dependencies/simplegltf"]
	path = dependencies/simplegltf
	url = git@github.com:ousttrue/simplegltf.git
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "dependencies/ImGuizmo"]
	path = dependencies/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "dependencies/im3d"]
	path = dependencies/im3d
	url = https://github.com/john-chapman/im3d.git
