[submodule "dependencies/json"]
	path = dependencies/json
	url = https://github.com/nlohmann/json.git
[submodule "dependencies/glTF-Sample-Models"]
	path = dependencies/glTF-Sample-Models
	url = https://github.com/KhronosGroup/glTF-Sample-Models.git
